<div class="row align-items-start">
            
      <!-- fim da barra de menu vertical class="nav-side-menu"-->
      <div class="col-12 " style="font-size: 10px; height: 50px" >
            <h3 style="text-align: center"><b>{{title}}</b></h3>
      </div>
      

      <!-- TABELAS DA MEMÓRIA LÓGICA DOS PROCESSOS------------------------------------------------------------------------------------------------------------------------------------>
      <div class="col-12" >
            <div class="row">
                  
                  <div class="col-7 col-sm-7 ">
                        
                        <div class="row">
                              <div class="col-9 align-self-center ">
                                    <h4>
                                          {{algoritmoEscalonamento[secureNumberAlgo]}}

                                                <a *ngIf="secureNumberAlgo==0" href="#" data-toggle="modal" data-target="#fcfs">
                                                      <img src="assets/info_ico.png" width="13px" alt=""> </a> 
                                                <a *ngIf="secureNumberAlgo==1" href="#" data-toggle="modal" data-target="#historico_bit_referencia">
                                                      <img src="assets/info_ico.png" width="13px" alt=""> </a> 
                                                <a *ngIf="secureNumberAlgo==2" href="#" data-toggle="modal" data-target="#segunda_chance">
                                                      <img src="assets/info_ico.png" width="13px" alt=""> </a> 
                                    </h4>
                              </div>
                        </div>

                        <div class="row ">
                              <div class="col-9 align-self-center linhaExercicio">
                                    <!-- TABELA MEMÓRIA LÓGICA DO PROCESSO-------------------------------------------------------------------->
                                          <table class="table posicionadoNoCentroDaDiv" id="tabelaExec" *ngIf="listaProcessos.length!=0" >
                                                <!-- <caption>Mem. Lógica</caption> -->
                                                <thead >
                                                      <td height="30.5">Pág</td>
                                                      <td  *ngFor="let  bitAcess of 
                                                            algoritmoSelecionado == 1
                                                            ? algoritmoHistorico.historicoBit[0]
                                                            : algoritmoSelecionado== 0
                                                                  ? counter(1)
                                                                  : counter(2);index as arre">
                  
                                                 {{algoritmoSelecionado == 0
                                                                              ? 'TimeStamp'
                                                                              :algoritmoSelecionado == 1
                                                                                    ?'bit_'+(4-arre)
                                                                                    :arre == 0
                                                                                          ? 'TimeStamp'
                                                                                          : 'bitRef'}} </td>
                                                      <td>Resp.</td>
                                                </thead>
                                                <tbody  class="tbody"><!--DADOS DA ARRAY SELECIONADA-->
                                                      <tr  *ngFor="let pag of  arrayOrdem;" height="33" align="center"style="font-size: 10px">
            
                                                            <td  class="leveSombreado" style="-webkit-transition-delay:{{1 * 500}}ms; background-color:{{
                                                                  algoritmoSelecionado ==1 
                                                                        ? algoritmoHistorico.lista[pag].cor
                                                                        : algoritmoSelecionado==0 
                                                                              ? algoritmoFCFS.lista[pag].cor 
                                                                              : algoritmoSegundaChanceOrdenado.lista[pag].cor
                                                                  }}; color: #fff; font-size: 12px">
                                                                  {{ algoritmoSelecionado ==1 
                                                                        ? algoritmoHistorico.lista[pag].toString()
                                                                        : algoritmoSelecionado==0 
                                                                              ? algoritmoFCFS.lista[pag].toString() 
                                                                              : algoritmoSegundaChanceOrdenado.lista[pag].toString()
                                                                  }}</td>
                                                                  
                                                            <td  class="leveSombreado" *ngFor="let  bitAcess of 
                                                                  algoritmoSelecionado ==1 
                                                                        ? algoritmoHistorico.historicoBit[pag]
                                                                        : algoritmoSelecionado==0 
                                                                              ? counter(1)
                                                                              : counter(2);
                                                                  index as arre" style="-webkit-transition-delay:{{1 * 500}}ms; background-color:{{
                                                                        algoritmoSelecionado ==1 
                                                                        ? algoritmoHistorico.lista[pag].cor
                                                                        : algoritmoSelecionado==0 
                                                                              ? algoritmoFCFS.lista[pag].cor 
                                                                              : algoritmoSegundaChanceOrdenado.lista[pag].cor
                                                                  }}; color: #fff; font-size: 10px">
                                                                  {{algoritmoSelecionado==0
                                                                              ? memoriaF[pag].horaCarga
                                                                              : algoritmoSelecionado==2
                                                                                    ? arre==0
                                                                                          ? algoritmoSegundaChanceOrdenado.lista[pag].timeStamp
                                                                                          : algoritmoSegundaChanceOrdenado.historicoBit[pag][0]
                                                                                    : bitAcess}}
                                                            </td>

                                                            <td  class="leveSombreado" style="-webkit-transition-delay:{{1 * 500}}ms; 
                                                                  background-color:{{
                                                                        algoritmoSelecionado ==1 
                                                                        ? algoritmoHistorico.lista[pag].cor
                                                                        : algoritmoSelecionado==0 
                                                                              ? algoritmoFCFS.lista[pag].cor 
                                                                              : algoritmoSegundaChanceOrdenado.lista[pag].cor
                                                                        }}; color: #fff; font-size: 12px;">

                                                                  <input [(ngModel)]="resposta" type="radio" id="resposta" name="resposta"
                                                                        style="margin-left: 10px;" [value]="pag" (change)="verificaGabarito()">
                                                                        <i *ngIf="corrigir && paginavitima == pag" class="fa fa-check" aria-hidden="true" 
                                                                        style="color: lightgreen; width: 27px; height: 27px;"></i>
                                                            </td>
                                                      </tr>
                                                </tbody>
                                          </table>
                              </div>
                              <!-- BOTÃO CORRIGIR -->
                              <div class="col-3  align-self-end linhaExercicio">
                                    <button class="btn btn-success" (click)="correcao()" 
                                          *ngIf="listaProcessos.length!=0 && secureNumberAlgo==0 && segundaChance && (resposta!=paginavitima)"
                                          data-toggle="modal" data-target="#fcfs">
                                                Corrigir
                                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                          </button> 
                                    <button class="btn btn-success" (click)="correcao()" 
                                          *ngIf="listaProcessos.length!=0 && secureNumberAlgo==1 && segundaChance && (resposta!=paginavitima)"
                                          data-toggle="modal" data-target="#historico_bit_referencia">
                                                Corrigir
                                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                          </button> 
                                    <button class="btn btn-success" (click)="correcao()" 
                                          *ngIf="listaProcessos.length!=0 && secureNumberAlgo==2 && segundaChance && (resposta!=paginavitima)"
                                          data-toggle="modal" data-target="#segunda_chance">
                                                Corrigir
                                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                          </button>
                                    <button class="btn btn-success" (click)="correcao()" 
                                          *ngIf="listaProcessos.length!=0 && (resposta==paginavitima) || !segundaChance">
                                                Corrigir
                                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                          </button>
                              </div>
                        </div>
                  </div>

                  
                  <!-- TABELA DA MEMÓRIA FISICA ---------------------------------------------------------------------------------------------------------------->
                  <div class="col-2">
                        <h5 class="alerta">Memória Física
                              <a href="" data-toggle="modal" data-target="#tb_memoria_fisica">
                                    <img src="assets/info_ico.png" width="13px" alt=""></a> 
                        </h5>
                        <table align="center" class="table" id="tabelaExec" border="2">
                              <thead >
                                    <td>Página</td>
                                    <td>Conteúdo</td>
                              </thead>
                              <!--Exercicio Preencher Memoria Fisica-->
                              <tr align="center" height="33" *ngFor="let m of memoriaF; index as k" 
                              style="-webkit-transition-delay:{{1 * 500}}ms; background-color:{{m.cor}}; color: #FFFFFF; font-size: 12px" >
                                    <td class="leveSombreado">{{m.endereco}}
                                    </td>
                                    <td class="leveSombreado">
                                          {{m.nome}}
                                          &nbsp;
                                          <i *ngIf="(m.horaCarga!=0)" class="glyphicon glyphicon-ok" style="color: #FFFFFF;" ></i>
                                    </td>
                              </tr>
                        </table>
                  </div>

                  <!--DISCO COM PÁGINAS DOS PROCESSOS------------------------------------------------------------------------------------------------------------->
                  <div class="col-2" style="background-color: rgb(230, 228, 228);">
                        <h5>Disco <a href="#" data-toggle="modal" data-target="#tb_disco">
                                    <img src="assets/info_ico.png" width="13px" alt=""> </a> </h5>

                        <div class="row align-items-start" >
                              <div class="col-6 col-sm-6" *ngFor="let p of listaProcessos">
                                    <div class="row align-items-start">
                                          <table  align="center" class="table" id="tabelaExec">
                                                <thead >
                                                      <td >Processo {{p.nome}}</td>
                                                </thead>
                                                <tr *ngFor="let  i of counter(p.pagina.length);index as f" align="center" height="33"  style="font-size: 10px">
                                                      <td class="leveSombreado" style="-webkit-transition-delay:{{1 * 100}}ms; background-color:{{p.cor}}; color: #FFFFFF; font-size: 12px">
                                                            {{p.nome+f}}</td>
                                                </tr>
                                          </table>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>

<!-- Animação---------------------------------------------------------------------------------------------------------------->
<br>
<div *ngIf="algoritmoSelecionado==2" class="row align-items-start text-center">
      <div class="col-12">
            <h5 style="text-align: center; font-weight: bold;">Registro de acesso às Página na Memória Física</h5>
      </div>
      
      <div class="col-12">
            <table align="center" class="table  text-center" id="tabelaExec">
                  <tr height="33" style="text-align: center; width: 50px;" >
                        <td style="font-size: 12px ; background: #2e2d2c;color: #FFFFFF">TimeStamp</td>

                        <td *ngFor="let j of algoritmoSegundaChance.lista; index as k;" 
                              width="40" style="animation-delay: 500ms; font-size: 12px">
                               <!-- {{listaPaginasResposta[k].timeStamp!= 0? listaPaginasResposta[k].timeStamp:'-'}} -->
                               {{j.timeStamp}}
                        </td>
                  </tr>
                  <tr  height="33"  style="text-align: center;width: 50px;">
                        <td style="font-size: 12px ;background: rgb(63, 61, 61);color: #FFFFFF" >Página</td>
                        
                        <td *ngFor="let i of algoritmoSegundaChance.lista; index as k;" width="40" 
                        class="leveSombreado"
                        style="text-align: center;animation-delay: 500ms; background-color:{{i.cor}}; color: #FFFFFF; font-size: 12px">
                              
                        {{i.toString()}}
                        </td>
                  </tr>
                  <tr  height="33"  style="text-align: center;width: 50px;">
                        <td style="font-size: 12px ;background: rgb(63, 61, 61);color: #FFFFFF" >Bit referência
                              <a href="" data-toggle="modal" data-target="#segunda_chance"> 
                                    <img src="assets/info_ico.png" width="13px" alt=""></a>
                              </td>
                        
                        <td *ngFor="let i of algoritmoSegundaChance.historicoBit; index as k;" width="40" 
                        class="leveSombreado"
                        style="text-align: center;animation-delay: 500ms; background-color:{{algoritmoSegundaChance.lista[k].cor}}; color: #FFFFFF; font-size: 12px">
                        {{i[0]}}
                        </td>
                  </tr>
                  <tr  height="33"  style="text-align: center;width: 50px;">
                        <td style="font-size: 12px ;background: rgb(63, 61, 61);color: #FFFFFF" >Acesso
                              <a href="" data-toggle="modal" data-target="#acessar_pg"> 
                                    <img src="assets/info_ico.png" width="13px" alt="">
                              </a>
                        </td>
                        
                        <td *ngFor="let i of algoritmoSegundaChance.lista; index as k;" width="25px" height="25px"
                        class="leveSombreado"
                        style="text-align: center;animation-delay: 500ms; background-color:{{i.cor}}; color: #FFFFFF; 
                        font-size: 12px">
                        <button class="btn btn-default" (click)="statusBitRef(k)"> 
                              <i class="fa fa-refresh" aria-hidden="true" style="color: #99d43e;"></i>
                                    </button>
                                    
                        </td>
                  </tr>
            </table>
            <div><p class="alertafifo"></p></div>
      </div>
</div>

	
<!-- Início dos modal's -->

<!-- INFO Sobre o Algoritmo FCFS-->
<div class="modal fade" id="fcfs" tabindex="-1" role="dialog" aria-labelledby="label_sc_modal" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
            <div class="modal-header">
                  <h5 class="modal-title" id="label_sc_modal">Algoritmo FCFS ( First-Come-First-Serced)</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <div class="modal-body">
                  <p style="line-height: 1.5; text-align: justify;" > 
                        No algoritmo FCFS (First Come First Served), o processo que chega primeiro é enviado primeiro para execução pela CPU quando a CPU está livre.<br>
                        Desta forma há uma fila ordenada por Timestamp, assim, quando um novo processo requer memória, aquele que tiver o Timestamp menor( ou seja está a mais tempo na Mémoria) é escolhida como vítima. <br>
                        <br><img src="assets/FCFS.png" width="98%" >
                  </p>
                  <h4 *ngIf="!segundaChance" style="color: red;"> Tente Novamente!!!</h4>
            </div>
            <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
      </div>
      </div>
</div>
<!-- INFO Sobre o Algoritmo de Histórico de Referência-->
<div class="modal fade" id="historico_bit_referencia" tabindex="-1" role="dialog" aria-labelledby="label_sc_modal" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
            <div class="modal-header">
                  <h5 class="modal-title" id="label_sc_modal">Algoritmo de Histórico de Referência</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <div class="modal-body">
                  <p style="line-height: 1.5; text-align: justify;" > 
                        No algoritmo de Histórico de Referência verifica-se se houve solicitação àquela página nos últimos momentos representados pelo histórico de bits de referência, assim, antes de realizar a substituição da página. <br>
                        Toda a lista de páginas é percorridas de forma a se verificar se a página foi acessada no último momento, caso haja empate, usa-se o HISTÓRICO para retroceder no tempo de interações a fim de determinar qual página foi menos acessada.<br>
                        Desta forma as páginas que tem o bit de referência 1 (indica que foram acessadas recentemente) já o bit de referência 0 (não foi acessada recentemente), dentre as páginas não foram acessadas caso haja mais de uma, verifica-se o acesso entre elas no tempo i-1, e assim persiste até que se encontre uma página menos acessada em relação a outra, em caso de empate, aquela que tiver o TimeStamp menor (aquela que está a mais tempo na memória) será a página vítima escolhida . <br>
                        <br><img src="assets/historicoReferencia.png" width="98%" >
                  </p>
                  <h4 *ngIf="!segundaChance" style="color: red;"> Tente Novamente!!!</h4>
            </div>
            <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
      </div>
      </div>
</div>
<!-- INFO Sobre o Segunda Chance-->
<div class="modal fade" id="segunda_chance" tabindex="-1" role="dialog" aria-labelledby="label_sc_modal" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
            <div class="modal-header">
                  <h5 class="modal-title" id="label_sc_modal">Algoritmo de Segunda Chance</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <div class="modal-body">
                  <p style="line-height: 1.5; text-align: justify;" > 
                        No algoritmo de Segunda Chance verifica-se o bit de referência antes de realizar a substituição da página. <br>
                        Todas as páginas são percorridas de forma circular em uma fila ordenada por Timestamp, de forma que as páginas que tem o bit de referência 1 (indica que foram acessadas recentemente) recebem uma segunda chance e vão para o final da fila (timestamp atualizado e bit de referência alterado para 0). A primeira página que tem o bit de referência 0 (não foi acessada recentemente) é escolhida como vítima. <br>
                        <br><img src="assets/second_chance_chart.jpg" width="98%" >
                  </p>
                  <h4 *ngIf="!segundaChance" style="color: red;"> Tente Novamente!!!</h4>
            </div>
            <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
      </div>
      </div>
</div>


<!-- INFO Acessar pg-->
<div class="modal fade" id="acessar_pg" tabindex="-1" role="dialog" aria-labelledby="lb_acessar_pg" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="lb_acessar_pg">Simular acesso a página</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <p style="line-height: 1.8; text-align: justify;" > 
                  A opção “Acessar PG” permite alterar o bit de referência da página – bit de referência 1 indica que a página foi acessada recentemente.
                  <br>
                  <img src="assets/status_bit.jpg" width="90%" height="90%" style="padding-left: 5.5%;">				
            </p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
      </div>
      </div>
</div>	
<!-- INFO Sobre Memória Física-->
<div class="modal fade" id="tb_memoria_fisica" tabindex="-1" role="dialog" aria-labelledby="label_tb_memoria_fisica" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="label_tb_memoria_fisica">Memória Física</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <p style="line-height: 1.8; text-align: justify;" > 
                  A memória RAM (Random Access Memory) é um componente físico aclopado a placa mãe, ela é o único
                  espaçamento de memória que recebe acesso através de endereço direto pelo processador.
                  <br>
                  <br>
                  Considerando que espaço físico da memória é limitado, o gerenciamento de memória é necessário para 
                  que a maior quantidade de informação possível possa ser carregada e disponibilizada na memória.
                  <br>
                  <br>
                  Para simular esse gerenciamento, a memória RAM é representada por uma tabela contendo dois quadros de quatro
                  páginas cada, resultando em oito espaços para carregamento de páginas dos processos criados.
                  <br>
                  <br>
                  <img src="assets/memory_ram.png" width="75%" style="padding-left: 25%;" >				
            </p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
      </div>
      </div>
</div>	
<!-- INFO Sobre Disco-->
<div class="modal fade" id="tb_disco" tabindex="-1" role="dialog" aria-labelledby="label_tb_disco" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="label_tb_disco">Disco</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <p style="line-height: 1.8; text-align: justify;" > 
                  Mecanismos modernos de paginação como a paginação por demanda, permitem que quando um processo for criado, apenas 
                  as páginas que serão utilizadas no momento da execução sejam carregadas para a memória principal. 
                  <br>
                  As demais páginas, assim como todas as páginas do processo (inclusive as páginas na RAM), ficam armazenadas no disco. 
                  Caso uma página que não esteja na RAM seja referenciada, uma cópia dela é feita para a memória principal 
                  e a tabela de páginas é atualizada para que seu acesso seja disponibilizado.
                  <br>
                  <br>
                  <img src="assets/Moldar_disco.jpg" width="90%" height="90%" style="padding-left: 5.5%;">				
            </p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
      </div>
      </div>
</div>	