<div class="container-fluid">
      <div class="row">
              <div class="col-3">
                      <app-menu-lateral
                              (enviarDados)="setDadosProcesso($event)"
                              (enviarTipoAlgoritmo)="setTipoAlgoritmo($event)"
                              (enviarTipoExercicio)="setTipoExercicio($event)"
                              (enviarRespostaMemoriaLogica)="setRespostaMemoriaLogica($event)"
                              (enviarGambiarra)="setGambiarra($event)"></app-menu-lateral>
              </div>

              <div class="col-9">
                      <app-area-exercicio  *ngIf="getTipoExercicio!=3"
                              [listaProcessos]="getDadosProcesso" 
                              [exercicioSelecionado]="getTipoExercicio" 
                              [respostaMemoriaLogica]="getRespostaMemoriaLogica" 
                              (enviarDadosMemoria)="setDadosMemoriaFisica($event)"
                              [gambiarra]="getGambiarra"></app-area-exercicio>

                      <app-pagina-vitima *ngIf="getTipoExercicio==3"
                              [algoritmoSelecionado]="getTipoAlgoritmo" 
                              [listaProcessos]="getDadosProcesso" 
                              [gambiarra]="getGambiarra"></app-pagina-vitima>
              </div>
      </div>
</div>