
#tabelaExec{
      align-items: center;
      padding: 5px 0px; 
      width: 300px;
      font-size: 20px;
      column-span: 3px;
      width: auto;
        
}    
.selectOption{
      text-align: center;
}
.selectOptionAcerto{
      border:green 1px solid;
}
.selectOptionErro{
      border:red 1px solid;
}
.tdAcerto{
      background-color: rgba(0, 128, 0, 0.507);
}
.tdErro{
      background-color: rgba(255, 0, 0, 0.473);
}

.leveSombreado{
      box-shadow: inset 10em 1em rgba(0, 0, 0, 0.25);
    }