
<div class="nav-side-menu">
      <div class="menu-list">	

            <ul id="menu-content" class="menu-content collapse out">
                  <li class="active"
                  data-bs-toggle="collapse" 
                  data-bs-target="#config" 
                  aria-controls="config" 
                  aria-expanded="false">
                        <a href="#">
                              <b style="font-size: 17px">Á</b>rea de 
                              <b style="font-size: 17px">C</b>onfiguração <span></span>
                        </a>
                  </li>

                   <!--UL -->
                  <ul class="sub-menu collapse.show" id="config">

                        <!-- Selecionar Tipo De Exercício -->
                        <li align="center"  class="collapsed active"
                        data-bs-toggle="collapse" 
                        data-bs-target="#exercicio" 
                        aria-controls="exercicio" 
                        aria-expanded="false">
                              <b style="font-size: 15px">T</b>ipo de 
                              <b style="font-size: 15px">E</b>xercício
                        </li>       
                        <ul class="sub-menu collapse.show" id="exercicio">
                        
                              <select  class="form-control" id="selectAlgoritmo" (change)="escolheExercicio($event)">
                                    <option value=info disabled selected>Exercícios Disponíveis</option>
                                    <option *ngFor="let idx of listaDeExercicios" [value]="[idx.tipo, idx.exec]">{{idx.tipo}}</option>
                              </select>
                        </ul>

                        <!-- Selecionar Algoritmo -->
                        <li align="center"  class="collapsed active"
                        data-bs-toggle="collapse" 
                        data-bs-target="#algoritmo" 
                        aria-controls="algoritmo" 
                        aria-expanded="false">
                              <b style="font-size: 15px">S</b>elecionar 
                              <b style="font-size: 15px">A</b>lgoritmo de 
                              <b style="font-size: 15px">S</b>ubstituição
                        </li>
                        <ul class="sub-menu collapse.show" id="algoritmo">
                        
                              <select class="form-control" id="selectAlgoritmo"  (change)="escolheEscalonador($event)">
                                    <option value=info disabled selected>Algoritmo de substituição</option>
                                    <option *ngFor="let idx of algoritmoEscalonamento" [value]="[idx.tipo, idx.exec]">{{idx.tipo}}</option>
                              </select>
                        </ul>

                        <!-- CRIAR Processos -->
                        <li  align="center"class="collapsed active"
                        data-bs-toggle="collapse" 
                        data-bs-target="#add" 
                        aria-controls="add" 
                        aria-expanded="false">

                              <b style="font-size: 15px;">C</b>riar 
                              <b style="font-size: 15px">P</b>rocessos
                        </li>

                        <ul class="sub-menu collapse.show" id="add">
                              <!--CHECKBOX *** CRIAR PROCESSOS ALEATORIOS-->
                              <div style="background: rgb(218, 218, 218)">
                                    <div>
                                          <label style="margin-left: 15px" for="check">
                                                <input [(ngModel)]="aleatorio" type="checkbox" id="check" name="check" style="margin-left: 10px;" value="false">
                                                Deseja gerar processos com valores aleatórios para sua simulação ?
                                                
                                                <button *ngIf="aleatorio" class="btn btn-outline-primary" 
                                                      id="btnCad" (click)="geradorAleatorio()">
                                                      <i class="fa fa-cogs" aria-hidden="true"></i>
                                                      <b> Gerar Processos </b>
                                                </button>
                                          </label>
                                    </div>
                              </div>
                               <!--FORMULARIO PARA CADASTRO DO PROCESSO-->
                              <form *ngIf="!aleatorio" class="form-group">
                                    
                                    <div class="form-group">
                                          <p  align="center">Nome do Processo <p>

                                          <select [(ngModel)]="p.nome" class="form-control"  id="processo" name="processo">
                                                  <option *ngFor="let pr of listaNomesTec">{{pr}}</option>
                                          </select>
                                    </div>
                                    <div>
                                          <input [(ngModel)]="nPaginas" type="number" id="execucao" name="execucao" min="1" max="4" class="form-control" 
                                          placeholder="Qtd. Páginas" >
                                    </div>
                              
                                    <div  id="botoes" align="center"><!--Detalhe aqui    V -->
                                          <button class="btn btn-success" id="btnCad" ng-show="!p.bit" (click)="cadastrar(p)">
                                                <i class="fa-solid fa-circle-plus" aria-hidden="true"></i> Criar</button>
                                          <button class="btn btn-danger" id="btnCan" (click)="cancelar()">
                                                <i class="fa-duotone fa-circle-minus" aria-hidden="true"></i> Cancelar</button>
                                    </div>
                              </form>
                        </ul>


                        <!--TABELA DE PROCESSOS-->
                        <div>
                              <div>
                                    <li class="active collapsed"
                                    data-bs-toggle="collapse" 
                                    data-bs-target="#tabelaProcesso" 
                                    aria-controls="tabelaProcesso" 
                                    aria-expanded="false">
                                          <p align="center">Tabela de Processos</p>
                                    </li>

                                    <!-- Listar processos na tabela --> <!--aria-expanded="{{processos.length == 0? 'false' : 'true'}}"class="{{processos.length == 0? 'sub-menu collapsed collapse' : 'sub-menu collapsed collapse in'}}"-->
                                    <ul id="tabelaProcesso" style="height: auto !important;">
                                          <table class="table table-borded" id="tabelaProcesso" style="font-size: 12px" 
                                          *ngIf="listaProcessos.length != 0">
                                                <tr align="center">
                                                      <td>Processo</td>
                                                      <td>Páginas</td>
                                                      <td>Remover</td>
                                                </tr>
                                                <tr style="text-align:center;" *ngFor="let pr of listaProcessos">
                                                      <td style="width: 5px;"> {{pr.nome}}
                                                            
                                                            <b><i class="fa fa-square" aria-hidden="true" style="color:{{pr.cor}};box-shadow: inset 10em 1em rgba(0, 0, 0, 0.25);"></i> 
                                                                  &nbsp;</b>
                                                      </td>
                                                      <td>{{pr.pagina.length}}</td>
                                                      <td>
                                                            <button type="button" class="btn btn-outline-danger" (click)="excluir(pr)">
                                                                  <i class="glyphicon glyphicon-remove leveSombreado" style="color:{{pr.cor}};"></i>
                                                            </button>
                                                      </td>
                                                </tr>
                                          </table><!--style="text-align: center"-->
                                          <!-- <h6  *ngIf="listaProcessos.length < 1">Não há processo cadastrado.</h6>  -->
                                    </ul>
                              </div>
                        </div>
                  </ul>
            </ul>
      </div>
</div> 